<div class="w-full h-full">
	<h1 mat-dialog-title> Add new client</h1>
	<div mat-dialog-content>
		<div>Please introduce the new client</div>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Name</mat-label>
			<input matInput [(ngModel)]="data.name">
		</mat-form-field>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Address</mat-label>
			<input matInput [(ngModel)]="data.address">
		</mat-form-field>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Age</mat-label>
			<input matInput [(ngModel)]="data.age">
		</mat-form-field>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Username</mat-label>
			<input matInput [(ngModel)]="data.accountName">
		</mat-form-field>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Password</mat-label>
			<input matInput [(ngModel)]="data.password">
		</mat-form-field>
	</div>
	<div mat-dialog-actions class="justify-end">
		<button mat-button (click)="onNoClick()">Cancel</button>
		<button mat-button [mat-dialog-close]="data"
						cdkFocusInitial>SAVE</button>
	</div>
</div>
