<div class="flex h-full w-full">
	<div class="w-1/2 m-10 align-middle text-center">
		<div class="font-bold text-l mb-2">
			Select date to create the chart
		</div>
		<div>
			<app-ngbd-datepicker-popup (updated)="load($event)">
			</app-ngbd-datepicker-popup>
		</div>
	</div>
	<div class="w-1/2 m-10 align-middle text-center">
		<div class="font-bold text-l mb-2">
			Chart
		</div>
		<div>

		</div>
	</div>
</div>
