<div [ngClass]="{'bg-white bg-opacity-50 w-full flex': isClient}">
		<div *ngIf="isClient" (click)="goToHome()" class="ml-10 p-4 text-xl">
			HOME
		</div>
		<div *ngIf="isClient" (click)="goToMonitor()" class="ml-10 p-4 text-xl">
			MONITOR
		</div>
		<div *ngIf="isClient" (click)="goToChart()" class="ml-10 p-4 text-xl">
			CHART
		</div>
		<div class="text-right bg-white bg-opacity-50 w-full">
			<button class="content-end p-3" (click)="logout()">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
					<path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd" />
				</svg>
			</button>
		</div>
</div>
