<div class="w-full h-full">
	<h1 mat-dialog-title> Add new device</h1>
	<div mat-dialog-content>
		<div>Please introduce the device</div>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Description</mat-label>
			<input matInput [(ngModel)]="data.description">
		</mat-form-field>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Location</mat-label>
			<input matInput [(ngModel)]="data.location">
		</mat-form-field>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Maximum energy consumption</mat-label>
			<input matInput [(ngModel)]="data.maximumEnergyConsumption">
		</mat-form-field>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Average energy consumption</mat-label>
			<input matInput [(ngModel)]="data.averageEnergyConsumption">
		</mat-form-field>
	</div>
	<div mat-dialog-actions class="justify-end">
		<button mat-button (click)="onNoClick()">Cancel</button>
		<button mat-button [mat-dialog-close]="data"
						cdkFocusInitial>SAVE</button>
	</div>
</div>
