<div class="login-body fixed top-1/4 h-1/2 flex w-full justify-center">
	<div class="login bg-white w-96 h-96">
		<div class="sign-text text-center py-14">
			Sign in
		</div>
		<form [formGroup]="formGroup" class="flex flex-col items-center">
			<input class="input text-center" type="text" placeholder="Username" [formControlName]="'username'">
			<input class="input text-center" type="password" placeholder="Password" [formControlName]="'password'">
			<div *ngIf="loginErrorMessage" class="text-red-600 m-1.5">
				{{loginErrorMessage}}
			</div>
			<div class="submit px-6 py-2 mb-4" (click)="login()">Sign in</div>
		</form>
	</div>
</div>
