<div>
	<div class="admin-body top-4/5 h-full mt-7 mb-7 w-full justify-center">
		<div class="admin-body top-4/5 h-full mt-7 mb-7 w-full justify-center">
			<table class="w-full h-full content-center bg-white border-white admin mt-4" *ngFor="let device of (account.devices ? account.devices : [])">
			<tr>
				<th class="pl-8 pb-2 pt-4 border-b-2 w-full border-gray-100 text-justify font-bold text-l text-gray-600" colspan="5">
					DEVICES
				</th>
			</tr>
			<tr class="text-justify text-black w-full h-full text-gray-500">
				<th class="pl-8">
					Device id
				</th>
				<th>
					Description
				</th>
				<th>
					Device location
				</th>
				<th>
					MaxEnergyCons
				</th>
				<th>
					AvgEnergyCons
				</th>
				<th>
				</th>
			</tr>
			<tbody>
			<tr class="w-full h-full text-justify mb-2 text-gray-400">
				<td class="pl-8">
					{{device.id}}
				</td>
				<td>
					<input [(ngModel)]="device.description" type="text"/>
				</td>
				<td>
					<input [(ngModel)]="device.location" type="text"/>
				</td>
				<td>
					<input [(ngModel)]="device.maximumEnergyConsumption" type="text"/>
				</td>
				<td>
					<input [(ngModel)]="device.averageEnergyConsumption" type="text"/>
				</td>
			</tr>
			<tr class="m-7">
				<td class="admin-body top-4/5 h-full mt-7 mb-7 w-full justify-center" colspan="5">
					<div class="bg-white border-white admin mt-4">
						<table class="w-full h-full content-center" *ngIf="device.sensor">
							<tr>
								<th class="pl-8 pb-2 pt-4 border-b-2 w-full border-gray-100 text-justify font-bold text-l text-gray-600" colspan="3">
									SENSOR
								</th>
							</tr>
							<tr class="text-justify text-black w-full h-full text-gray-500">
								<th class="pl-4">
									Sensor id
								</th>
								<th>
									Description
								</th>
								<th>
									MaximumValue
								</th>
							</tr>
							<tbody>
							<tr>
								<td class="pl-4">
									{{device.sensor.id}}
								</td>
								<td>
									<input [(ngModel)]="device.sensor.description" type="text"/>
								</td>
								<td>
									<input [(ngModel)]="device.sensor.maximumValue" type="text"/>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>

<router-outlet></router-outlet>


