<div class="flex-col admin-body top-4/5 h-full mt-7 mb-7 w-2/3 justify-center">
	<div class="w-full h-full content-center bg-white border-white admin mt-4">
		<table class="w-full h-full content-center bg-white border-white admin mt-4">
			<tr>
				<th
					class="pl-8 text-blue-300 pb-2 pt-4 border-b-2 w-full border-gray-100 text-justify font-bold text-l text-gray-600"
					colspan="3">
					History of measured values for all sensors
				</th>
			</tr>
			<tr class="text-justify text-black w-full h-full text-gray-500">
				<th class="pl-8">
					Sensor description
				</th>
				<th>
					Timestamp
				</th>
				<th>
					Value
				</th>
			</tr>
			<tbody>
			<ng-container *ngFor="let sensor of sensors">
				<tr class="w-full h-full text-justify mb-2 text-gray-400" *ngFor="let monitor of sensor.monitorValues">
					<td class="pl-8">
						{{sensor.description}}
					</td>
					<td>
						{{monitor.timeStamp}}
					</td>
					<td>
						{{monitor.value}}
					</td>
				</tr>
			</ng-container>
			</tbody>
		</table>
	</div>
</div>
