<div class="flex flex-col m-10">
	<div class="text-3xl font-bold title">
		Client list
	</div>
	<div class="flex justify-end">
		<div class="admin p-2 text-white font-bolder m-2" (click)="addNewClient()">
			ADD NEW CLIENT
		</div>
	</div>
	<div class="admin-body top-4/5 h-full mt-7 mb-7 w-full justify-center">
		<fieldset class="bg-white border-white admin mt-4" *ngFor="let account of accounts">
			<legend class="mt-2 text-right x-colors p-1.5 admin" (click)="deleteAccount(account)">
				Delete
			</legend>
		<table class="mb-7 w-full h-full content-center">
			<thead>
			<tr>
				<th class="pl-8 pb-2 border-b-2 w-full border-gray-100 text-justify text-black font-bold text-xl" colspan="6">
					{{account.name}} DETAILS
				</th>
			</tr>
			<tr class="text-justify pb-3 text-l">
				<th class="pl-4 pr-5"></th>
				<th>Name</th>
				<th>Address</th>
				<th>Age</th>
				<th>Account name</th>
				<th>
				</th>
			</tr>
			</thead>
			<tbody class="text-gray-700" >
				<tr>
					<th class="pl-4 pr-5">
						<svg (click)="account.isOpen = !account.isOpen" xmlns="http://www.w3.org/2000/svg"
								 class="h-6 w-6"
								 [ngClass]="{'rotate-180': account.isOpen}"
								 viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M15.707 4.293a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 011.414-1.414L10 8.586l4.293-4.293a1 1 0 011.414 0zm0 6a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L10 14.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
						</svg>
					</th>
					<td>
						<input [(ngModel)]="account.name" (change)="updateAccount(account)" type="text"/>
					</td>
					<td>
						<input [(ngModel)]="account.address" (change)="updateAccount(account)" type="text"/>
					</td>
					<td>
						<input [(ngModel)]="account.age" (change)="updateAccount(account)" type="text"/>
					</td>
					<td>
						<input [(ngModel)]="account.accountName" (change)="updateAccount(account)" type="text"/>
					</td>
					<td class="flex justify-end items-center">
						<div class="mt-1 p-1 width mr-5 flex justify-end">
							<svg (click)="updateAccount(account)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
							</svg>
							<svg (click)="addNewDeviceForClient(account)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
								<path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
							</svg>
						</div>
					</td>
				</tr>
				<tr *ngIf="account.isOpen">
					<td colspan="7" class="pl-16">
						<app-admin-device [devices]="account.devices" (updated)="loadData()"></app-admin-device>
					</td>
				</tr>
			</tbody>
		</table>
		</fieldset>
	</div>
	<div class="flex justify-end">
		<div class="admin p-2 text-white font-bolder m-2" (click)="addNewDevice()">
			ADD NEW DEVICE
		</div>
	</div>
	<div class="mb-10">
		<div class="text-3xl font-bold title">
			Available devices
		</div>
		<div class="bg-white border-white admin mt-4 w-2/3" >
			<table class="w-full h-full content-center">
				<thead>
				<tr class="text-l">
					<th class="pl-16 text-justify pb-3 text-l w-1/2">
						Device id
					</th>
					<th class="text-center pb-3 text-l w-1/2">
					</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let device of availableDevices">
					<td class="pl-16 w-1/2">
						{{device.id}}
					</td>
					<td>
						<mat-form-field appearance="fill">
							<mat-label>Select account</mat-label>
							<select matNativeControl (change)="insertDeviceToClient($event.target, device.id)" name="account">
								<option value="" selected></option>
								<option *ngFor="let account of accounts" [value]="account.id">
									{{account.name}}
								</option>
							</select>
						</mat-form-field>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="flex justify-end">
		<div class="admin p-2 text-white font-bolder m-2" (click)="addNewSensor()">
			ADD NEW SENSOR
		</div>
	</div>
	<div class="mb-10">
		<div class="text-3xl font-bold title">
			Available sensors
		</div>
		<div class="bg-white border-white admin mt-4 w-2/3" >
			<table class="w-full h-full content-center">
				<thead>
				<tr class="text-l">
					<th class="pl-16 text-justify pb-3 text-l w-1/2">
						Sensor id
					</th>
					<th class="text-center pb-3 text-l w-1/2">
					</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let sensor of availableSensors">
					<td class="pl-16 w-1/2">
						{{sensor.id}}
					</td>
					<td>
						<mat-form-field appearance="fill">
							<mat-label>Select device</mat-label>
							<select matNativeControl (change)="insertSensorToDevice($event.target, sensor.id)" name="device">
								<option value="" selected></option>
								<option *ngFor="let device of availableDevicesWithAccounts" [value]="device.id">
									{{device.id}}
								</option>
							</select>
						</mat-form-field>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


