.admin-body {
	font-family: 'Ubuntu', sans-serif;
}

.admin {
	border-radius: 1em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.title {
	color: rgb(91, 167, 249);
}

.x-colors {
	color: white;
	background: red;
}

.blue {
	color: rgb(37, 67, 100);
}

.width {
	width: 100px;
}
