<table class="w-full h-full content-center" *ngFor="let device of devices">
	<tr>
		<th class="pl-8 pb-2 pt-4 border-b-2 w-full border-gray-100 text-justify font-bold text-l text-gray-600" colspan="7">
			DEVICES
		</th>
	</tr>
	<tr class="text-justify text-black w-full h-full text-gray-500">
		<th class="pl-4">
		</th>
		<th>
			Device id
		</th>
		<th>
			Description
		</th>
		<th>
			Device location
		</th>
		<th>
			MaxEnergyCons
		</th>
		<th>
			AvgEnergyCons
		</th>
		<th>
		</th>
	</tr>
	<tbody>
	<tr class="w-full h-full text-justify mb-2 text-gray-400">
		<th class="pl-4 pr-5">
			<svg (click)="device.isOpen = !device.isOpen" xmlns="http://www.w3.org/2000/svg"
					 class="h-6 w-6"
					 [ngClass]="{'rotate-180': device.isOpen}"
					 viewBox="0 0 20 20" fill="currentColor">
				<path fill-rule="evenodd" d="M15.707 4.293a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 011.414-1.414L10 8.586l4.293-4.293a1 1 0 011.414 0zm0 6a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L10 14.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
			</svg>
		</th>
		<td>
			{{device.id}}
		</td>
		<td>
			<input [(ngModel)]="device.description" type="text"/>
		</td>
		<td>
			<input [(ngModel)]="device.location" type="text"/>
		</td>
		<td>
			<input [(ngModel)]="device.maximumEnergyConsumption" type="text"/>
		</td>
		<td>
			<input [(ngModel)]="device.averageEnergyConsumption" type="text"/>
		</td>
		<td class="flex justify-end items-center">
			<div class="mt-1 p-1 width mr-5 flex justify-end">
				<svg (click)="updateDevice(device)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
				</svg>
				<svg *ngIf="!device.sensor"  (click)="addNewSensorForDevice(device)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" viewBox="0 0 20 20" fill="currentColor">
					<path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
				</svg>
				<svg (click)="deleteDevice(device)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
				</svg>
			</div>
		</td>
	</tr>
	<tr *ngIf="device.isOpen && device.sensor">
		<td class="pl-20 pb-2 pt-4 border-b-2 w-full border-gray-100 text-justify text-blue-400 font-bold text-base" colspan="7">
			DEVICES SENSOR
		</td>
	</tr>
	<tr *ngIf="device.isOpen && device.sensor">
		<td colspan="7" class="pl-20">
			<app-admin-device-sensor [sensor]="device.sensor" [device]="device" (updated)="updated.emit()"></app-admin-device-sensor>
		</td>
	</tr>
	</tbody>
</table>
