<div class="w-full h-full">
	<h1 mat-dialog-title> Add new sensor</h1>
	<div mat-dialog-content>
		<div>Please introduce the sensor</div>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Description</mat-label>
			<input matInput [(ngModel)]="data.description">
		</mat-form-field>
		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Maximum value</mat-label>
			<input matInput [(ngModel)]="data.maximumValue">
		</mat-form-field>
	</div>
	<div mat-dialog-actions class="justify-end">
		<button mat-button (click)="onNoClick()">Cancel</button>
		<button mat-button [mat-dialog-close]="data"
						cdkFocusInitial>SAVE</button>
	</div>
</div>
