<table *ngIf="sensor" class=" w-full h-full content-center">
	<tr class="text-justify text-black w-full h-full text-blue-300">
		<th class="pl-4">
			Sensor id
		</th>
		<th>
			Description
		</th>
		<th>
			MaximumValue
		</th>
	</tr>
	<tr class="w-full h-full text-justify mb-2 text-blue-200">
		<td class="pl-4">
			{{sensor.id}}
		</td>
		<td>
			<input [(ngModel)]="sensor.description" type="text"/>
		</td>
		<td>
			<input [(ngModel)]="sensor.maximumValue" type="text"/>
		</td>
		<td class="flex justify-end items-center">
			<div class="mt-1 p-1 width mr-5 flex justify-end">
				<svg (click)="updateSensor(sensor)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
				</svg>
				<svg  (click)="deleteSensor(sensor)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
				</svg>
			</div>
		</td>
	</tr>
</table>
