admin-body {
	font-family: 'Ubuntu', sans-serif;
}

.admin {
	border-radius: 1em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.title {
	color: rgb(139, 190, 245);
}

.x-colors {
	color: white;
	background: red;
}

.blue {
	color: rgb(46, 83, 124);
}

.width {
	width: 100px;
}
